<div fxLayout="row" fxLayoutAlign="space-around baseline">
    <mat-card style="width: 500px;">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-login></app-login>
        </mat-card-content>
    </mat-card>
    <mat-card style="width: 500px;">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-register></app-register>
        </mat-card-content>
    </mat-card>
</div>
