<form [formGroup]="form" (submit)="submit()">
    <mat-form-field class="formField">
        <mat-label>Username</mat-label>
        <input required matInput type="text" name="username" formControlName="username" autocomplete="false" />
        <mat-error *ngIf="form.get('username').invalid">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="formField">
        <mat-label>Password</mat-label>
        <input required matInput type="password" name="password" formControlName="password" autocomplete="false" />
        <mat-error *ngIf="form.get('password').invalid">This field is required.</mat-error>
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button color="primary">Login</button>
    </div>
</form>
