.comment {
    color: white;
    border-radius: 15px;
    padding: 5px 15px;
    margin-left: 40px;
    min-width: 400px;
    display: inline-block;
}

.comment-wrapper {
    margin-bottom: 10px;
}

.own-comment {
    background-color: #3f51b5;
}
.foreign-comment {
    background-color: #616161;
    float: right;
}