<ng-container *ngIf="!!comments">
    <div class="comments">
        <div class="comment-wrapper" *ngFor="let comment of comments">
            <div class="comment" [ngClass]="{ 'own-comment': comment.own, 'foreign-comment': !comment.own }">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>{{ comment.text }}</div>
                    <div class="delete-comment-button">
                        <button mat-icon-button *ngIf="comment.own" (click)="removeComment(comment.id)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="comments.length === 0">No comment yet. Start conversation!</ng-container>

<form [formGroup]="form" (submit)="submit()">
    <mat-form-field>
        <mat-label>Text</mat-label>
        <textarea required matInput name="text" formControlName="text"></textarea>
        <mat-error *ngIf="form.get('text').invalid">This field is required.</mat-error>
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button color="primary">Send</button>
    </div>
</form>
